---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Loopstudios landing page">
  <Header />
  <main></main>
</Layout>

<style></style>
