---
import "@/styles/globals.css";
---

<footer
  class="mt-24 flex flex-col items-center gap-12 bg-[#000] px-6 py-14 text-center xl:mt-[11.5rem] xl:flex-row xl:justify-between xl:px-[10.31rem] xl:pb-[2.69rem] xl:pt-11 xl:text-left"
>
  <!-- Logo & Nav -->
  <div class="flex flex-col gap-8 xl:gap-6">
    <div class="">
      <a href="/" class=""><img src="/images/logo.svg" alt="logo" class="" /></a
      >
    </div>
    <nav class="">
      <ul
        class="flex flex-col items-center gap-6 text-center xl:flex-row xl:gap-8 xl:text-left"
      >
        <li class="">
          <a
            href=""
            class="relative font-Alata text-[0.9375rem] font-normal leading-[1.5625rem] text-[#fff] after:hover:absolute after:hover:-bottom-2 after:hover:right-2 after:hover:h-[0.125rem] after:hover:w-[1.5rem] after:hover:bg-[#fff]"
            >About</a
          >
        </li>
        <li class="">
          <a
            href=""
            class="relative font-Alata text-[0.9375rem] font-normal leading-[1.5625rem] text-[#fff] after:hover:absolute after:hover:-bottom-2 after:hover:right-3 after:hover:h-[0.125rem] after:hover:w-[1.5rem] after:hover:bg-[#fff]"
            >Careers</a
          >
        </li>
        <li class="">
          <a
            href=""
            class="relative font-Alata text-[0.9375rem] font-normal leading-[1.5625rem] text-[#fff] after:hover:absolute after:hover:-bottom-2 after:hover:right-2 after:hover:h-[0.125rem] after:hover:w-[1.5rem] after:hover:bg-[#fff]"
            >Events</a
          >
        </li>
        <li class="">
          <a
            href=""
            class="relative font-Alata text-[0.9375rem] font-normal leading-[1.5625rem] text-[#fff] after:hover:absolute after:hover:-bottom-2 after:hover:right-4 after:hover:h-[0.125rem] after:hover:w-[1.5rem] after:hover:bg-[#fff]"
            >Products</a
          >
        </li>
        <li class="">
          <a
            href=""
            class="relative font-Alata text-[0.9375rem] font-normal leading-[1.5625rem] text-[#fff] after:hover:absolute after:hover:-bottom-2 after:hover:right-4 after:hover:h-[0.125rem] after:hover:w-[1.5rem] after:hover:bg-[#fff]"
            >Support</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <!-- Social Icons & Copyright -->
  <div
    class="flex flex-col items-center gap-4 text-center xl:items-end xl:gap-6 xl:text-left"
  >
    <div class="flex items-center gap-4">
      <div
        class="relative transition-all duration-500 ease-linear after:hover:absolute after:hover:-bottom-4 after:hover:right-[0.18.5rem] after:hover:h-[0.125rem] after:hover:w-[1.5rem] after:hover:bg-[#fff]"
      >
        <a href="/" class=""
          ><img
            src="/images/icon-facebook.svg"
            alt="facebook-icon"
            class=""
          /></a
        >
      </div>
      <div
        class="relative transition-all duration-500 ease-linear after:hover:absolute after:hover:-bottom-4 after:hover:right-[0.18.5rem] after:hover:h-[0.125rem] after:hover:w-[1.5rem] after:hover:bg-[#fff]"
      >
        <a href="/" class=""
          ><img src="/images/icon-twitter.svg" alt="twitter-icon" class="" /></a
        >
      </div>
      <div
        class="relative transition-all duration-500 ease-linear after:hover:absolute after:hover:-bottom-4 after:hover:right-[0.18.5rem] after:hover:h-[0.125rem] after:hover:w-[1.5rem] after:hover:bg-[#fff]"
      >
        <a href="/" class=""
          ><img
            src="/images/icon-pinterest.svg"
            alt="pinterest-icon"
            class=""
          /></a
        >
      </div>
      <div
        class="relative transition-all duration-500 ease-linear after:hover:absolute after:hover:-bottom-4 after:hover:right-[0.18.5rem] after:hover:h-[0.125rem] after:hover:w-[1.5rem] after:hover:bg-[#fff]"
      >
        <a href="/" class=""
          ><img
            src="/images/icon-instagram.svg"
            alt="instagram-icon"
            class=""
          /></a
        >
      </div>
    </div>
    <h3
      class="font-Alata text-[0.9375rem] font-normal leading-[1.5625rem] text-[#fff]"
    >
      © 2021 Loopstudios. All rights reserved.
    </h3>
  </div>
</footer>
